apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - name: app1
        image: workytip/node-app1:latest 
        ports:
        - containerPort: 3000
        env:
        - name: APP_NAME
          value: "Application 1"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
