apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
      - name: app2
        image: workytip/node-app2:latest
        ports:
        - containerPort: 3001
        env:
        - name: APP_NAME
          value: "Application 2"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
